[submodule "coinstac_gica"]
	path = coinstac_gica
	url = https://github.com/MRN-Code/coinstac_gica.git
[submodule "coinstac_backreconstruction"]
	path = coinstac_backreconstruction
	url = https://github.com/MRN-Code/coinstac_backreconstruction.git
[submodule "coinstac_decentralized_pca"]
	path = coinstac_decentralized_pca
	url = https://github.com/MRN-Code/coinstac-decentralized-pca
	branch = consolidation
[submodule "coinstac_decentralized_row_means"]
	path = coinstac_decentralized_row_means
	url = https://github.com/MRN-Code/coinstac-decentralized-row-means
        branch = consolidation
[submodule "coinstac_spatially_constrained_ica"]
	path = coinstac_spatially_constrained_ica
	url = git@github.com:trendscenter/coinstac_spatially_constrained_ica.git
	branch = bbradt-patch-neuromark
[submodule "coinstac_masking"]
	path = coinstac_masking
	url = https://github.com/MRN-Code/coinstac_masking.git
