[submodule "coinstac_gica"]
	path = coinstac_gica
	url = https://github.com/MRN-Code/coinstac_gica.git
[submodule "coinstac_backreconstruction"]
	path = coinstac_backreconstruction
	url = https://github.com/MRN-Code/coinstac_backreconstruction.git
[submodule "coinstac_ddfnc_preproc"]
	path = coinstac_ddfnc_preproc
	url = https://github.com/MRN-Code/coinstac_ddfnc_preproc.git
[submodule "coinstac_dkmeans_ss"]
	path = coinstac_dkmeans_ss
	url = https://github.com/MRN-Code/coinstac_dkmeans_ss.git
[submodule "coinstac_dkmeans_ms"]
	path = coinstac_dkmeans_ms
	url = https://github.com/MRN-Code/coinstac_dkmeans_ms.git
[submodule "decentralized_pca"]
	path = decentralized_pca
	url = https://github.com/rsilva8/decentralized-pca.git
[submodule "decentralized_row_means"]
	path = decentralized_row_means
	url = https://github.com/rsilva8/decentralized-row-means.git
[submodule "coinstac_spatially_constrained_ica"]
	path = coinstac_spatially_constrained_ica
	url = https://github.com/MRN-Code/coinstac_spatially_constrained_ica
